*{
    box-sizing: border-box;
}

h1,
h2,
h3,
a,
p {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.tiles {
  
    display: flex;
    flex-flow: row wrap;
}   
.tile {
      
      background: white;
      margin: 10px;
      width: calc( (100% / 3) - 20px );
      padding: 10px;
      height: 610px;
      object-fit: cover;
    }
    
    .feature {
      
      width: calc( ( ( 100% / 3 ) * 2) - 20px );
      
    }

    .latest-heading{
        text-align: center;
        font-size: 48px;
    }
    
  