*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: row; 
    
    
    height: 80px;
}
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;
}
.header-brand {
    color: red;
}

.header-logo__image {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

.header-logo__name {

}

.header-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.header-menu__item {
    padding-left: 20px;
    height: auto;
}