*{
  box-sizing: border-box;
  // border: solid 1px green;
}

h1,
h2,
h3,
a,
p {
  margin: 0;
  padding: 0;
  text-decoration: none;

}

a {
  color:#3d3c3c;
  text-decoration:none
  }
  
  a:active {
  color:#555555;
  text-decoration:none
  }
  
  a:visited {
  color:#1a1919;
  text-decoration:none
  }
  
  a:hover {
  color:#393a39;
  text-decoration: none
  }